<template>
  <div
          data-thq="slider-slide"
          class="recipes-testimonials-slide swiper-slide"
  >
    <div class="recipes-testimonials-slide-container">
      <img
              alt=""
              src=""
              class="recipes-testimonials-thumbnail img-ratio-1-1"
      />
      <div class="recipes-testimonials-content">
        <div class="recipes-testimonials-stars">
          <!-- star valuation -->
        </div>
        <p class="text-body-large recipes-testimonials-text recipes-testimonials-text-inline">
          <!-- testimonial text  -->
        </p>
        <div class="recipes-testimonials-avatar">
          <div class="recipes-testimonials-avatar-content">
                        <span class="recipes-testimonials-text text-body-small recipes-testimonials-text-inline">
                          <!-- author -->
                        </span>
            <span class="text-body-small recipes-testimonials-text-inline">
                          <!-- job -->
                        </span>
          </div>
          <!-- logo/brand/association -->
          <img
                  alt=""
                  src=""
                  class="recipes-testimonials-logo"
          />
        </div>
      </div>
    </div>
  </div>
</template>