



.hero9-wrapper {
    display: contents;
}

.hero9-header30 {
    gap: var(--dl-space-space-twounits);
}

.hero9-image {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.hero9-container {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255,255,255,0.7);
}

.hero9-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
}

.hero9-content {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.hero9-text1 {
    text-align: center;
}

.hero9-text2 {
    text-align: center;
}

.hero9-actions {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
}

.hero9-text3 {
    text-align: center;
}

.hero9-text4 {
    text-align: center;
}

.recipes-fragment27 {
    display: contents;
}

.recipes-text29 {
    display: inline-block;
}

.recipes-fragment25 {
    display: contents;
}

.recipes-text27 {
    display: inline-block;
}

.recipes-fragment26 {
    display: contents;
}

.recipes-text28 {
    display: inline-block;
}

.recipes-fragment24 {
    display: contents;
}

.recipes-text26 {
    display: inline-block;
}

@media(max-width: 991px) {
    .hero9-text1 {
        text-align: center;
    }
    .hero9-text2 {
        text-align: center;
    }
}

@media(max-width: 479px) {
    .hero9-actions {
        width: 100%;
        flex-direction: column;
    }
    .hero9-button1 {
        width: 100%;
    }
    .hero9-button2 {
        width: 100%;
    }
}

.features22-wrapper {
    display: contents;
}

.features22-layout349 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.features22-max-width {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.features22-container1 {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    max-width: 600px;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
}

.features22-text11 {
    text-align: center;
}

.features22-container2 {
    width: 100%;
}

.features22-card1 {
    color: var(--dl-color-theme-neutral-light);
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary2);
}

.features22-image1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    object-fit: cover;
}

.features22-text13 {
    text-align: center;
}

.features22-card2 {
    color: var(--dl-color-theme-neutral-light);
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary1);
}

.features22-image2 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    object-fit: cover;
}

.features22-text15 {
    text-align: center;
}

.features22-card3 {
    color: var(--dl-color-theme-neutral-light);
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary2);
}

.features22-image3 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    object-fit: cover;
}

.features22-text17 {
    text-align: center;
}

.features22-card4 {
    color: var(--dl-color-theme-neutral-light);
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary1);
}

.features22-image4 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    object-fit: cover;
}

.features22-text19 {
    text-align: center;
}

.features22-card5 {
    color: var(--dl-color-theme-neutral-light);
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary1);
}

.features22-image5 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    object-fit: cover;
}

.features22-text21 {
    text-align: center;
}

.features22-card6 {
    color: var(--dl-color-theme-neutral-light);
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary2);
}

.features22-image6 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    object-fit: cover;
}

.features22-text23 {
    text-align: center;
}

.features22-card7 {
    color: var(--dl-color-theme-neutral-light);
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary1);
}

.features22-image7 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    object-fit: cover;
}

.features22-text25 {
    text-align: center;
}

.features22-card8 {
    color: var(--dl-color-theme-neutral-light);
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary2);
}

.features22-image8 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    object-fit: cover;
}

.features22-text27 {
    text-align: center;
}

.recipes-fragment28 {
    display: contents;
}

.recipes-text30 {
    display: inline-block;
}

.recipes-fragment37 {
    display: contents;
}

.recipes-text39 {
    display: inline-block;
}

.recipes-fragment43 {
    display: contents;
}

.recipes-text45 {
    display: inline-block;
}

.recipes-fragment39 {
    display: contents;
}

.recipes-text41 {
    display: inline-block;
}

.recipes-fragment30 {
    display: contents;
}

.recipes-text32 {
    display: inline-block;
}

.recipes-fragment38 {
    display: contents;
}

.recipes-text40 {
    display: inline-block;
}

.recipes-fragment33 {
    display: contents;
}

.recipes-text35 {
    display: inline-block;
}

.recipes-fragment44 {
    display: contents;
}

.recipes-text46 {
    display: inline-block;
}

.recipes-fragment40 {
    display: contents;
}

.recipes-text42 {
    display: inline-block;
}

.recipes-fragment29 {
    display: contents;
}

.recipes-text31 {
    display: inline-block;
}

.recipes-fragment34 {
    display: contents;
}

.recipes-text36 {
    display: inline-block;
}

.recipes-fragment41 {
    display: contents;
}

.recipes-text43 {
    display: inline-block;
}

.recipes-fragment45 {
    display: contents;
}

.recipes-text47 {
    display: inline-block;
}

.recipes-fragment31 {
    display: contents;
}

.recipes-text33 {
    display: inline-block;
}

.recipes-fragment32 {
    display: contents;
}

.recipes-text34 {
    display: inline-block;
}

.recipes-fragment35 {
    display: contents;
}

.recipes-text37 {
    display: inline-block;
}

.recipes-fragment36 {
    display: contents;
}

.recipes-text38 {
    display: inline-block;
}

.recipes-fragment42 {
    display: contents;
}

.recipes-text44 {
    display: inline-block;
}

@media(max-width: 991px) {
    .features22-max-width {
        flex-direction: column;
    }
    .features22-container1 {
        margin-bottom: var(--dl-space-space-threeunits);
    }
}

@media(max-width: 767px) {
    .features22-container1 {
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .features22-card1 {
        width: 100%;
    }
    .features22-card2 {
        width: 100%;
    }
    .features22-card3 {
        width: 100%;
    }
    .features22-card4 {
        width: 100%;
    }
    .features22-card5 {
        width: 100%;
    }
    .features22-card6 {
        width: 100%;
    }
    .features22-card7 {
        width: 100%;
    }
    .features22-card8 {
        width: 100%;
    }
}

.gallery7-wrapper {
    display: contents;
}

.gallery7-gallery3 {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.gallery7-max-width {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery7-section-title {
    gap: 24px;
    width: auto;
    display: flex;
    max-width: 800px;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.gallery7-text1 {
    text-align: center;
}

.gallery7-text2 {
    text-align: center;
}

.gallery7-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.gallery7-content {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 1;
    width: 100%;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.gallery7-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 1;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.gallery7-image1 {
    width: 100%;
    height: 440px;
    object-fit: cover;
}

.gallery7-image2 {
    width: 100%;
    height: 440px;
    object-fit: cover;
}

.gallery7-container3 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 1;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.gallery7-image3 {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.gallery7-image4 {
    width: 100%;
    height: 440px;
    object-fit: cover;
}

.gallery7-image5 {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.gallery7-container4 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 1;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.gallery7-image6 {
    width: 100%;
    height: 440px;
    object-fit: cover;
}

.gallery7-image7 {
    width: 100%;
    height: 440px;
    object-fit: cover;
}

.recipes-fragment47 {
    display: contents;
}

.recipes-text49 {
    display: inline-block;
}

.recipes-fragment46 {
    display: contents;
}

.recipes-text48 {
    display: inline-block;
}

@media(max-width: 991px) {
    .gallery7-content {
        align-items: center;
        flex-direction: column;
    }
    .gallery7-container2 {
        width: 100%;
    }
    .gallery7-image1 {
        flex: 0 0 auto;
        width: 100%;
    }
    .gallery7-container3 {
        width: 100%;
    }
    .gallery7-container4 {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .gallery7-section-title {
        gap: var(--dl-space-space-oneandhalfunits);
    }
}

.testimonial7-wrapper {
    display: contents;
}

.testimonial7-max-width {
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}

.testimonial7-slider {
    width: 100%;
    height: auto;
    display: inline-block;
}

.testimonial7-slider-slide1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.testimonial7-container2 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.testimonial7-thumbnail1 {
    flex-grow: 1;
    max-width: 640px;
}

.testimonial7-content1 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    max-width: 800px;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.testimonial7-stars1 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.testimonial7-avatar1 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.testimonial7-avatar-content1 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.testimonial7-text12 {
    font-style: normal;
    font-weight: 600;
}

.testimonial7-logo1 {
    height: 2rem;
}

.testimonial7-slider-slide2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.testimonial7-container3 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.testimonial7-thumbnail2 {
    width: auto;
    height: auto;
    flex-grow: 1;
    max-width: 640px;
    border-radius: var(--dl-radius-radius-radius4);
}

.testimonial7-content2 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    max-width: 800px;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.testimonial7-stars2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.testimonial7-avatar2 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    align-items: center;
}

.testimonial7-avatar-content2 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.testimonial7-text15 {
    font-style: normal;
    font-weight: 600;
}

.testimonial7-logo2 {
    height: 2rem;
}

.testimonial7-slider-slide3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.testimonial7-container4 {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.testimonial7-thumbnail3 {
    width: auto;
    height: auto;
    flex-grow: 1;
    max-width: 640px;
    border-radius: var(--dl-radius-radius-radius4);
}

.testimonial7-content3 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    max-width: 800px;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.testimonial7-stars3 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.testimonial7-avatar3 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    align-items: center;
}

.testimonial7-avatar-content3 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.testimonial7-text18 {
    font-style: normal;
    font-weight: 600;
}

.testimonial7-logo3 {
    height: 2rem;
}

.testimonial7-slider-pagination {
    display: block;
}

.recipes-fragment51 {
    display: contents;
}

.recipes-text53 {
    display: inline-block;
}

.recipes-fragment48 {
    display: contents;
}

.recipes-text50 {
    display: inline-block;
}

.recipes-fragment53 {
    display: contents;
}

.recipes-text55 {
    display: inline-block;
}

.recipes-fragment52 {
    display: contents;
}

.recipes-text54 {
    display: inline-block;
}

.recipes-fragment56 {
    display: contents;
}

.recipes-text58 {
    display: inline-block;
}

.recipes-fragment49 {
    display: contents;
}

.recipes-text51 {
    display: inline-block;
}

.recipes-fragment54 {
    display: contents;
}

.recipes-text56 {
    display: inline-block;
}

.recipes-fragment57 {
    display: contents;
}

.recipes-text59 {
    display: inline-block;
}

.recipes-fragment50 {
    display: contents;
}

.recipes-text52 {
    display: inline-block;
}

.recipes-fragment55 {
    display: contents;
}

.recipes-text57 {
    display: inline-block;
}

@media(max-width: 991px) {
    .testimonial7-container2 {
        flex-direction: column;
    }
    .testimonial7-thumbnail1 {
        width: 100%;
    }
    .testimonial7-content1 {
        align-items: center;
        justify-content: center;
    }
    .testimonial7-avatar1 {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }
    .testimonial7-container3 {
        flex-direction: column;
    }
    .testimonial7-thumbnail2 {
        width: 100%;
    }
    .testimonial7-content2 {
        align-items: center;
        justify-content: center;
    }
    .testimonial7-avatar2 {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }
    .testimonial7-container4 {
        flex-direction: column;
    }
    .testimonial7-thumbnail3 {
        width: 100%;
    }
    .testimonial7-content3 {
        align-items: center;
        justify-content: center;
    }
    .testimonial7-avatar3 {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }
}

@media(max-width: 767px) {
    .testimonial7-slider-slide1 {
        padding: var(--dl-space-space-threeunits);
    }
    .testimonial7-slider-slide2 {
        padding: var(--dl-space-space-threeunits);
    }
    .testimonial7-slider-slide3 {
        padding: var(--dl-space-space-threeunits);
    }
}

@media(max-width: 479px) {
    .testimonial7-slider-slide1 {
        padding: var(--dl-space-space-oneandhalfunits);
    }
    .testimonial7-text11 {
        text-align: center;
    }
    .testimonial7-avatar1 {
        flex-direction: column;
    }
    .testimonial7-avatar-content1 {
        align-items: center;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .testimonial7-slider-slide2 {
        padding: var(--dl-space-space-oneandhalfunits);
    }
    .testimonial7-text14 {
        text-align: center;
    }
    .testimonial7-avatar2 {
        flex-direction: column;
    }
    .testimonial7-avatar-content2 {
        align-items: center;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .testimonial7-slider-slide3 {
        padding: var(--dl-space-space-oneandhalfunits);
    }
    .testimonial7-text17 {
        text-align: center;
    }
    .testimonial7-avatar3 {
        flex-direction: column;
    }
    .testimonial7-avatar-content3 {
        align-items: center;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}

.footer-wrapper {
    display: contents;
}

.footer-footer7 {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.footer-max-width {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-logo1 {
    gap: 24px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}

.footer-logo2 {
    height: 2rem;
}

.footer-links {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
}

.footer-credits {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.footer-row {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    align-items: flex-start;
}

.recipes-fragment60 {
    display: contents;
}

.recipes-text62 {
    display: inline-block;
}

.recipes-fragment59 {
    display: contents;
}

.recipes-text61 {
    display: inline-block;
}

.recipes-fragment58 {
    display: contents;
}

.recipes-text60 {
    display: inline-block;
}







@media(max-width: 767px) {
    .footer-row {
        gap: var(--dl-space-space-oneandhalfunits);
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width: 479px) {
    .footer-max-width {
        gap: var(--dl-space-space-oneandhalfunits);
    }
    .footer-links {
        flex-direction: column;
    }
}


.blog-post-header10-wrapper {
    display: contents;
}

.blog-post-header10-blog-post-header3 {
    display: flex;
    position: relative;
    align-items: center;
}

.blog-post-header10-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-post-header10-heading {
    align-self: center;
    text-align: center;
}

.blog-post-header10-image {
    width: 50%;
    object-fit: cover;
}

.blog-post-header10-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.blog-post-header10-container2 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.blog-post-header10-content {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 50%;
    height: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.blog-post-header10-author-name {
    font-size: 32px;
    align-self: flex-start;
    font-style: italic;
    text-align: left;
    font-weight: 200;
}

.blog-post-header10-share-buttons1 {
    align-self: flex-start;
}

.blog-post-header10-content-recipe-tags {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 564px;
    height: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.blog-post-header10-share-buttons2 {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    align-self: flex-start;
}

.blog-post-header10-container3 {
    width: 263px;
    height: 108px;
}

.blog-post-header10-container4 {
    display: contents;
}

.recipes-fragment77 {
    display: contents;
}

.recipes-text81 {
    display: inline-block;
}

.recipes-fragment75 {
    display: contents;
}

.recipes-text79 {
    display: inline-block;
}

.recipes-fragment76 {
    display: contents;
}

.recipes-text80 {
    display: inline-block;
}

@media(max-width: 991px) {
    .blog-post-header10-card {
        flex-direction: column;
    }
    .blog-post-header10-image {
        width: 100%;
        height: 500px;
    }
    .blog-post-header10-content {
        width: 100%;
    }
    .blog-post-header10-content-recipe-tags {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .blog-post-header10-content {
        flex-direction: column;
    }
    .blog-post-header10-content-recipe-tags {
        flex-direction: column;
    }
}

@media(max-width: 479px) {
    .blog-post-header10-title {
        text-align: center;
    }
    .blog-post-header10-author-name {
        align-self: center;
    }
    .blog-post-header10-share-buttons1 {
        align-self: center;
    }
    .blog-post-header10-share-buttons2 {
        align-self: center;
    }
}

.star-rating-wrapper {
    display: contents;
}

.star-rating-container1 {
    width: 172px;
    height: 104px;
    display: flex;
    position: relative;
    box-shadow: 20px 20px 40px 5px #d4d4d4;
    align-items: center;
    border-color: var(--dl-color-theme-neutral-dark);
    border-style: double;
    border-width: 4px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-primary2);
}

.star-rating-container2 {
    margin-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: var(--dl-space-space-twounits);
}

.star-rating-container3 {
    display: contents;
}



@media(max-width: 1200px) {
    .star-rating-container1 {
        width: 161px;
        height: 50px;
    }
    .star-rating-container2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .star-ratingroot-class-name {
        margin-left: 0px;
    }
}

.timeline7-wrapper {
    display: contents;
}

.timeline7-max-width {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}

.timeline7-container11 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.timeline7-text10 {
    text-align: center;
}

.timeline7-text11 {
    text-align: left;
}

.timeline7-timeline-container {
    flex: 1;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.timeline7-step1 {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.timeline7-container12 {
    flex: 1;
    left: var(--dl-space-space-halfunit);
    width: auto;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timeline7-container13 {
    width: 12px;
    height: 12px;
    margin: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #000000;
}

.timeline7-progress01 {
    width: auto;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #000000;
}

.timeline7-container14 {
    gap: var(--dl-space-space-unit);
    width: auto;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
}

.timeline7-ul {
    flex: 1;
    height: 70px;
    align-self: flex-start;
    list-style-type: decimal;
    list-style-image: none;
    list-style-position: outside;
}

.timeline7-text13 {
    margin-bottom: var(--dl-space-space-halfunit);
}

.timeline7-text14 {
    margin-bottom: var(--dl-space-space-halfunit);
}

.timeline7-text15 {
    margin-bottom: var(--dl-space-space-halfunit);
}

.timeline7-step2 {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.timeline7-container15 {
    flex: 1;
    left: var(--dl-space-space-halfunit);
    width: auto;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timeline7-container16 {
    width: 12px;
    height: 12px;
    margin: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #000000;
}

.timeline7-progress02 {
    width: auto;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #000000;
}

.timeline7-container17 {
    gap: var(--dl-space-space-unit);
    width: auto;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
}

.timeline7-step3 {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.timeline7-container18 {
    flex: 1;
    left: var(--dl-space-space-halfunit);
    width: auto;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timeline7-container19 {
    width: 12px;
    height: 12px;
    margin: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #000000;
}

.timeline7-progress03 {
    width: auto;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #000000;
}

.timeline7-container20 {
    gap: var(--dl-space-space-unit);
    width: auto;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
}

.timeline7-step4 {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.timeline7-container21 {
    flex: 1;
    left: var(--dl-space-space-halfunit);
    width: auto;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timeline7-container22 {
    width: 12px;
    height: 12px;
    margin: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #000000;
}

.timeline7-progress04 {
    width: auto;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #000000;
}

.timeline7-container23 {
    gap: var(--dl-space-space-unit);
    width: auto;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
}

.timeline7-container24 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.timeline7-container25 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.timeline7-container26 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.timeline7-text22 {
    text-align: center;
}

.recipes-fragment88 {
    display: contents;
}

.recipes-text92 {
    display: inline-block;
}

.recipes-fragment90 {
    display: contents;
}

.recipes-text94 {
    display: inline-block;
}

.recipes-fragment85 {
    display: contents;
}

.recipes-text89 {
    display: inline-block;
}

.recipes-fragment87 {
    display: contents;
}

.recipes-text91 {
    display: inline-block;
}

.recipes-fragment86 {
    display: contents;
}

.recipes-text90 {
    display: inline-block;
}

.recipes-fragment78 {
    display: contents;
}

.recipes-text82 {
    display: inline-block;
}

.recipes-fragment83 {
    display: contents;
}

.recipes-text87 {
    display: inline-block;
}

.recipes-fragment82 {
    display: contents;
}

.recipes-text86 {
    display: inline-block;
}

.recipes-fragment84 {
    display: contents;
}

.recipes-text88 {
    display: inline-block;
}

.recipes-fragment80 {
    display: contents;
}

.recipes-text84 {
    display: inline-block;
}

.recipes-fragment79 {
    display: contents;
}

.recipes-text83 {
    display: inline-block;
}

.recipes-fragment89 {
    display: contents;
}

.recipes-text93 {
    display: inline-block;
}

.recipes-fragment81 {
    display: contents;
}

.recipes-text85 {
    display: inline-block;
}

@media(max-width: 1200px) {
    .timeline7-container25 {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media(max-width: 991px) {
    .timeline7-max-width {
        gap: var(--dl-space-space-twounits);
    }
}

@media(max-width: 767px) {
    .timeline7-max-width {
        padding: var(--dl-space-space-threeunits);
        flex-direction: column;
    }
    .timeline7-text11 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width: 479px) {
    .timeline7-max-width {
        padding: var(--dl-space-space-unit);
    }
}

.intro-wrapper {
    display: contents;
}

.intro-header78 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.intro-column {
    gap: var(--dl-space-space-oneandhalfunits);
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
}

.intro-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.intro-text1 {
    text-align: center;
}

.intro-text2 {
    text-align: center;
}

.intro-actions {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
}

.intro-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}

.intro-row-container1 {
    width: 100%;
}

.intro-strip1 {
    flex-direction: row;
}

.intro-placeholder-image10 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image11 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image12 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image13 {
    width: 325px;
    height: 400px;
}

.intro-strip2 {
    flex-direction: row-reverse;
}

.intro-placeholder-image14 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image15 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image16 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image17 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image18 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image19 {
    width: 400px;
    height: 400px;
}

.intro-row-container2 {
    width: 100%;
}

.intro-placeholder-image20 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image21 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image22 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image23 {
    width: 288px;
    height: 400px;
}

.intro-placeholder-image24 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image25 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image26 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image27 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image28 {
    width: 400px;
    height: 400px;
}

.intro-placeholder-image29 {
    width: 400px;
    height: 400px;
}

.intro-container2 {
    /* display: contents; */
    width: 100%;
    overflow: hidden;
    display: flex;
    animation: scroll-x 5s linear infinite; /* Usa la animación horizontal */
}

@keyframes scroll-x {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 16px));
    }
}

@keyframes scroll-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - 16px));
    }
}

.recipes-fragment92 {
    display: contents;
}

.recipes-text96 {
    display: inline-block;
}

.recipes-fragment94 {
    display: contents;
}

.recipes-text98 {
    display: inline-block;
}

.recipes-fragment93 {
    display: contents;
}

.recipes-text97 {
    display: inline-block;
}

.recipes-fragment91 {
    display: contents;
}

.recipes-text95 {
    display: inline-block;
}



@media(max-width: 767px) {
    .intro-content2 {
        width: 100%;
    }
}

@media(max-width: 479px) {
    .intro-actions {
        width: 100%;
        flex-direction: column;
    }
    .intro-button1 {
        width: 100%;
    }
    .intro-button2 {
        width: 100%;
    }
}

.footer-wrapper-nooa {
    display: contents;
}

.footer-footer71 {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.footer-max-width1 {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-content1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-logo3 {
    gap: 24px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}

.footer-logo4 {
    height: 2rem;
}

.footer-links1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
}

.footer-credits1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.footer-row1 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: space-between;
}

.footer-container1 {
    display: flex;
    align-items: flex-start;
}

.recipes-fragment97 {
    display: contents;
}

.recipes-text101 {
    display: inline-block;
}

.recipes-fragment96 {
    display: contents;
}

.recipes-text100 {
    display: inline-block;
}

.recipes-fragment95 {
    display: contents;
}

.recipes-text99 {
    display: inline-block;
}







@media(max-width: 767px) {
    .footer-row1 {
        gap: var(--dl-space-space-oneandhalfunits);
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width: 479px) {
    .footer-max-width1 {
        gap: var(--dl-space-space-oneandhalfunits);
    }
    .footer-links1 {
        flex-direction: column;
    }
}

.recipes-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.recipes-fragment10 {
    display: contents;
}

.recipes-text10 {
    display: inline-block;
}

.recipes-fragment11 {
    display: contents;
}

.recipes-text11 {
    display: inline-block;
}

.recipes-fragment12 {
    display: contents;
}

.recipes-text14 {
    display: inline-block;
}

.recipes-fragment13 {
    display: contents;
}

.recipes-text15 {
    display: inline-block;
}

.recipes-fragment14 {
    display: contents;
}

.recipes-text16 {
    display: inline-block;
}

.recipes-fragment15 {
    display: contents;
}

.recipes-text17 {
    display: inline-block;
}

.recipes-fragment16 {
    display: contents;
}

.recipes-text18 {
    display: inline-block;
}

.recipes-fragment17 {
    display: contents;
}

.recipes-text19 {
    display: inline-block;
}

.recipes-fragment18 {
    display: contents;
}

.recipes-text20 {
    display: inline-block;
}

.recipes-fragment19 {
    display: contents;
}

.recipes-text21 {
    display: inline-block;
}

.recipes-fragment20 {
    display: contents;
}

.recipes-text22 {
    display: inline-block;
}

.recipes-fragment21 {
    display: contents;
}

.recipes-text23 {
    display: inline-block;
}

.recipes-fragment22 {
    display: contents;
}

.recipes-text24 {
    display: inline-block;
}

.recipes-fragment23 {
    display: contents;
}

.recipes-text25 {
    display: inline-block;
}

.recipes-fragment24 {
    display: contents;
}

.recipes-text26 {
    display: inline-block;
}

.recipes-fragment25 {
    display: contents;
}

.recipes-text27 {
    display: inline-block;
}

.recipes-fragment26 {
    display: contents;
}

.recipes-text28 {
    display: inline-block;
}

.recipes-fragment27 {
    display: contents;
}

.recipes-text29 {
    display: inline-block;
}

.recipes-fragment28 {
    display: contents;
}

.recipes-text30 {
    display: inline-block;
}

.recipes-fragment29 {
    display: contents;
}

.recipes-text31 {
    display: inline-block;
}

.recipes-fragment30 {
    display: contents;
}

.recipes-text32 {
    display: inline-block;
}

.recipes-fragment31 {
    display: contents;
}

.recipes-text33 {
    display: inline-block;
}

.recipes-fragment32 {
    display: contents;
}

.recipes-text34 {
    display: inline-block;
}

.recipes-fragment33 {
    display: contents;
}

.recipes-text35 {
    display: inline-block;
}

.recipes-fragment34 {
    display: contents;
}

.recipes-text36 {
    display: inline-block;
}

.recipes-fragment35 {
    display: contents;
}

.recipes-text37 {
    display: inline-block;
}

.recipes-fragment36 {
    display: contents;
}

.recipes-text38 {
    display: inline-block;
}

.recipes-fragment37 {
    display: contents;
}

.recipes-text39 {
    display: inline-block;
}

.recipes-fragment38 {
    display: contents;
}

.recipes-text40 {
    display: inline-block;
}

.recipes-fragment39 {
    display: contents;
}

.recipes-text41 {
    display: inline-block;
}

.recipes-fragment40 {
    display: contents;
}

.recipes-text42 {
    display: inline-block;
}

.recipes-fragment41 {
    display: contents;
}

.recipes-text43 {
    display: inline-block;
}

.recipes-fragment42 {
    display: contents;
}

.recipes-text44 {
    display: inline-block;
}

.recipes-fragment43 {
    display: contents;
}

.recipes-text45 {
    display: inline-block;
}

.recipes-fragment44 {
    display: contents;
}

.recipes-text46 {
    display: inline-block;
}

.recipes-fragment45 {
    display: contents;
}

.recipes-text47 {
    display: inline-block;
}

.recipes-fragment46 {
    display: contents;
}

.recipes-text48 {
    display: inline-block;
}

.recipes-fragment47 {
    display: contents;
}

.recipes-text49 {
    display: inline-block;
}

.recipes-fragment48 {
    display: contents;
}

.recipes-text50 {
    display: inline-block;
}

.recipes-fragment49 {
    display: contents;
}

.recipes-text51 {
    display: inline-block;
}

.recipes-fragment50 {
    display: contents;
}

.recipes-text52 {
    display: inline-block;
}

.recipes-fragment51 {
    display: contents;
}

.recipes-text53 {
    display: inline-block;
}

.recipes-fragment52 {
    display: contents;
}

.recipes-text54 {
    display: inline-block;
}

.recipes-fragment53 {
    display: contents;
}

.recipes-text55 {
    display: inline-block;
}

.recipes-fragment54 {
    display: contents;
}

.recipes-text56 {
    display: inline-block;
}

.recipes-fragment55 {
    display: contents;
}

.recipes-text57 {
    display: inline-block;
}

.recipes-fragment56 {
    display: contents;
}

.recipes-text58 {
    display: inline-block;
}

.recipes-fragment57 {
    display: contents;
}

.recipes-text59 {
    display: inline-block;
}

.recipes-fragment58 {
    display: contents;
}

.recipes-text60 {
    display: inline-block;
}

.recipes-fragment59 {
    display: contents;
}

.recipes-text61 {
    display: inline-block;
}

.recipes-fragment60 {
    display: contents;
}

.recipes-text62 {
    display: inline-block;
}

.recipes-fragment61 {
    display: contents;
}

.recipes-text63 {
    display: inline-block;
}

.recipes-fragment62 {
    display: contents;
}

.recipes-text64 {
    display: inline-block;
}

.recipes-fragment63 {
    display: contents;
}

.recipes-text67 {
    display: inline-block;
}

.recipes-fragment64 {
    display: contents;
}

.recipes-text68 {
    display: inline-block;
}

.recipes-fragment65 {
    display: contents;
}

.recipes-text69 {
    display: inline-block;
}

.recipes-fragment66 {
    display: contents;
}

.recipes-text70 {
    display: inline-block;
}

.recipes-fragment67 {
    display: contents;
}

.recipes-text71 {
    display: inline-block;
}

.recipes-fragment68 {
    display: contents;
}

.recipes-text72 {
    display: inline-block;
}

.recipes-fragment69 {
    display: contents;
}

.recipes-text73 {
    display: inline-block;
}

.recipes-fragment70 {
    display: contents;
}

.recipes-text74 {
    display: inline-block;
}

.recipes-fragment71 {
    display: contents;
}

.recipes-text75 {
    display: inline-block;
}

.recipes-fragment72 {
    display: contents;
}

.recipes-text76 {
    display: inline-block;
}

.recipes-fragment73 {
    display: contents;
}

.recipes-text77 {
    display: inline-block;
}

.recipes-fragment74 {
    display: contents;
}

.recipes-text78 {
    display: inline-block;
}

.recipes-fragment75 {
    display: contents;
}

.recipes-text79 {
    display: inline-block;
}

.recipes-fragment76 {
    display: contents;
}

.recipes-text80 {
    display: inline-block;
}

.recipes-fragment77 {
    display: contents;
}

.recipes-text81 {
    display: inline-block;
}

.recipes-fragment78 {
    display: contents;
}

.recipes-text82 {
    display: inline-block;
}

.recipes-fragment79 {
    display: contents;
}

.recipes-text83 {
    display: inline-block;
}

.recipes-fragment80 {
    display: contents;
}

.recipes-text84 {
    display: inline-block;
}

.recipes-fragment81 {
    display: contents;
}

.recipes-text85 {
    display: inline-block;
}

.recipes-fragment82 {
    display: contents;
}

.recipes-text86 {
    display: inline-block;
}

.recipes-fragment83 {
    display: contents;
}

.recipes-text87 {
    display: inline-block;
}

.recipes-fragment84 {
    display: contents;
}

.recipes-text88 {
    display: inline-block;
}

.recipes-fragment85 {
    display: contents;
}

.recipes-text89 {
    display: inline-block;
}

.recipes-fragment86 {
    display: contents;
}

.recipes-text90 {
    display: inline-block;
}

.recipes-fragment87 {
    display: contents;
}

.recipes-text91 {
    display: inline-block;
}

.recipes-fragment88 {
    display: contents;
}

.recipes-text92 {
    display: inline-block;
}

.recipes-fragment89 {
    display: contents;
}

.recipes-text93 {
    display: inline-block;
}

.recipes-fragment90 {
    display: contents;
}

.recipes-text94 {
    display: inline-block;
}

.recipes-fragment91 {
    display: contents;
}

.recipes-text95 {
    display: inline-block;
}

.recipes-fragment92 {
    display: contents;
}

.recipes-text96 {
    display: inline-block;
}

.recipes-fragment93 {
    display: contents;
}

.recipes-text97 {
    display: inline-block;
}

.recipes-fragment94 {
    display: contents;
}

.recipes-text98 {
    display: inline-block;
}

.recipes-fragment95 {
    display: contents;
}

.recipes-text99 {
    display: inline-block;
}

.recipes-fragment96 {
    display: contents;
}

.recipes-text100 {
    display: inline-block;
}

.recipes-fragment97 {
    display: contents;
}

.recipes-text101 {
    display: inline-block;
}
