
.navbar-wrapper-hwby {
    display: contents;
}

.navbar-container8 {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: sticky;
    justify-content: center;
    background-color: var(--dl-color-theme-neutral-light);
}

.navbar-navbar-interactive1 {
    width: 100%;
    display: flex;
    z-index: 100;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
}

.navbar-desktop-menu1 {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.navbar-image1 {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.navbar-links3 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: var(--dl-space-space-twounits);
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-link15 {
    text-decoration: none;
}

.navbar-link33 {
    text-decoration: none;
}

.navbar-link4-dropdown-trigger1 {
    gap: 4px;
    cursor: pointer;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-icon-container3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-container9 {
    display: flex;
    align-items: center;
    animation-name: rotateInDownLeft;
    flex-direction: row;
    animation-delay: 0s;
    justify-content: flex-end;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.navbar-icon26 {
    width: 24px;
    height: 24px;
}

.navbar-buttons3 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar-action13 {
    display: flex;
    flex-direction: row;
}

.navbar-action23 {
    display: flex;
    flex-direction: row;
}

.navbar-burger-menu1 {
    display: none;
}

.navbar-icon28 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.navbar-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: var(--dl-space-space-twounits);
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-theme-neutral-light);
}

.navbar-nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.navbar-top1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.navbar-logo1 {
    height: 3rem;
}

.navbar-close-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-icon30 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.navbar-links4 {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.navbar-link16 {
    text-decoration: none;
}

.navbar-link34 {
    text-decoration: none;
}

.navbar-link4-accordion1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.navbar-trigger1 {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-icon-container4 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-container10 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-icon32 {
    width: 24px;
    height: 24px;
}

.navbar-container11 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-icon34 {
    width: 24px;
    height: 24px;
}

.navbar-container12 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-halfunit);
    grid-template-columns: 1fr;
}

.navbar-menu-item9 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
}

.navbar-page1-image3 {
    width: 50px;
    height: 50px;
}

.navbar-content9 {
    width: 340px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.navbar-page13 {
    font-style: normal;
    font-weight: 600;
}

.navbar-menu-item10 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
}

.navbar-page2-image3 {
    width: 50px;
    height: 50px;
}

.navbar-content10 {
    width: 340px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.navbar-page23 {
    font-style: normal;
    font-weight: 600;
}

.navbar-menu-item11 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
}

.navbar-page3-image3 {
    width: 50px;
    height: 50px;
}

.navbar-content11 {
    width: 340px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.navbar-page33 {
    font-style: normal;
    font-weight: 600;
}

.navbar-menu-item12 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
}

.navbar-page4-image3 {
    width: 50px;
    height: 50px;
}

.navbar-content12 {
    width: 340px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.navbar-page43 {
    font-style: normal;
    font-weight: 600;
}

.navbar-buttons4 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: row;
}

.navbar-icon-group1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
}

.navbar-container13 {
    top: 100%;
    left: 0px;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    animation-name: fadeInDownBig;
    animation-delay: 0s;
    justify-content: center;
    background-color: var(--dl-color-theme-neutral-light);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.navbar-link5-menu-list1 {
    width: 100%;
    display: grid;
    padding: var(--dl-space-space-oneandhalfunits);
    grid-gap: var(--dl-space-space-halfunit);
    max-width: var(--dl-size-size-maxwidth);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navbar-menu-item13 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    text-decoration: none;
}

.navbar-page1-image4 {
    width: 30px;
    height: 30px;
}

.navbar-content13 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-direction: column;
}

.navbar-page14 {
    font-style: normal;
    font-weight: 600;
}

.navbar-menu-item14 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    text-decoration: none;
}

.navbar-page2-image4 {
    width: 30px;
    height: 30px;
}

.navbar-content14 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-direction: column;
}

.navbar-page24 {
    font-style: normal;
    font-weight: 600;
}

.navbar-menu-item15 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    text-decoration: none;
}

.navbar-page3-image4 {
    width: 30px;
    height: 30px;
}

.navbar-content15 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-direction: column;
}

.navbar-page34 {
    font-style: normal;
    font-weight: 600;
}

.navbar-menu-item16 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    text-decoration: none;
}

.navbar-page4-image4 {
    width: 30px;
    height: 30px;
}

.navbar-content16 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-direction: column;
}

.navbar-page44 {
    font-style: normal;
    font-weight: 600;
}

.navbar-container14 {
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: flex-start;
    flex-direction: column;
}

.recipes-fragment70 {
    display: contents;
}

.recipes-text74 {
    display: inline-block;
}

.recipes-fragment74 {
    display: contents;
}

.recipes-text78 {
    display: inline-block;
}

.recipes-fragment73 {
    display: contents;
}

.recipes-text77 {
    display: inline-block;
}

.recipes-fragment65 {
    display: contents;
}

.recipes-text69 {
    display: inline-block;
}

.recipes-fragment61 {
    display: contents;
}

.recipes-text63 {
    display: inline-block;
}

.recipes-fragment63 {
    display: contents;
}

.recipes-text67 {
    display: inline-block;
}

.recipes-fragment67 {
    display: contents;
}

.recipes-text71 {
    display: inline-block;
}

.recipes-fragment68 {
    display: contents;
}

.recipes-text72 {
    display: inline-block;
}

.recipes-fragment71 {
    display: contents;
}

.recipes-text75 {
    display: inline-block;
}

.recipes-fragment69 {
    display: contents;
}

.recipes-text73 {
    display: inline-block;
}

.recipes-fragment62 {
    display: contents;
}

.recipes-text64 {
    display: inline-block;
}

.recipes-fragment72 {
    display: contents;
}

.recipes-text76 {
    display: inline-block;
}

.recipes-fragment66 {
    display: contents;
}

.recipes-text70 {
    display: inline-block;
}

.recipes-fragment64 {
    display: contents;
}

.recipes-text68 {
    display: inline-block;
}











@media(max-width: 767px) {
    .navbar-navbar-interactive1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
    .navbar-desktop-menu1 {
        display: none;
    }
    .navbar-burger-menu1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-mobile-menu1 {
        padding-top: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .navbar-container12 {
        grid-gap: 0;
    }
    .navbar-link5-menu-list1 {
        display: none;
    }
}

@media(max-width: 479px) {
    .navbar-navbar-interactive1 {
        padding: var(--dl-space-space-unit);
    }
    .navbar-mobile-menu1 {
        padding: var(--dl-space-space-unit);
    }
}