<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mockups Iniciales PWM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <link rel="stylesheet" href="../../../stylesheets/reset-style-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/default-style-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/animate-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/noto-sans-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/STIX-two-text-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/Inter-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/style.css" />
  <link href="sponsors.css" rel="stylesheet" />
  <script src="./sponsors.js"></script>
  <script src="../../../xlu-include-file.js"></script>
</head>
<body>
<div class="sponsors-container1 thq-section-padding">
  <div class="sponsors-max-width thq-section-max-width">
    <h2 class="sponsors-text1 thq-heading-2">
      <span class="sponsors-text2"></span>
    </h2>
    <div id="sponsors-grid" class="thq-grid-6"></div>
  </div>
</div>

</body>
<script>
  loadSponsorsFromJSON(getProjectRoot() + "JSON/sponsors.json");
</script>
</html>
