<div class="section-padding">
  <div class="stats-max-width section-max-width">
    <div class="stats-image-container flex-column">
      <img alt="" src="" class="img-ratio-1-1 stats-image"/>
    </div>
    <div class="stats-content flex-column">
      <span id="stats-subtitle" class="text-body-small  stats-text"></span>
      <span id="stats-title" class="heading-2  stats-text"></span>
      <p id="stats-description" class="text-body-large  stats-text"></p>
      <div class="grid-columns-2">
        <template id="stats-cell">
          <div class=" stats-cell">
            <span class="heading-2  stats-text"></span>
            <span class="text-body-small  stats-text"></span>
          </div>
        </template>
      </div>
    </div>
  </div>
  <a rel="json" href="/about_us/components/stats/stats.json" style="display: none !important;"></a>
</div>
<link rel="stylesheet" type="text/css" href="/about_us/components/stats/stats.css"/>
<script src="/about_us/components/stats/stats.js"></script>