<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mockups Iniciales PWM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" data-tag="reset-style-sheet" href="../../../stylesheets/reset-style-sheet.css"  />
    <link rel="stylesheet" data-tag="default-style-sheet" href="../../../stylesheets/default-style-sheet.css" />
    <link rel="stylesheet" href="../../../stylesheets/animate-sheet.css"/>
    <link rel="stylesheet" href="../../../stylesheets/noto-sans-font.css" data-tag="font"/>
    <link rel="stylesheet" href="../../../stylesheets/STIX-two-text-font.css" data-tag="font"/>
    <link rel="stylesheet" href="../../../stylesheets/Inter-font.css" data-tag="font"/>
    <link rel="stylesheet" href="../../../stylesheets/style.css" />
  </head>
  <body>
    <div>
      <link href="stats.css" rel="stylesheet" />
      <div class="stats-container thq-section-padding">
        <div class="stats-max-width thq-section-max-width">
          <div class="stats-image-container thq-flex-column">
            <img
              alt="Variety of delicious dishes"
              src="https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczODY4OTMwOXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
              class="thq-img-ratio-1-1 stats-image"
            />
          </div>
          <div class="stats-content thq-flex-column">
            <span class="thq-body-small  stats-text">
                  Explore a wide variety of cuisines and dishes
            </span>
            <h2 class="thq-heading-2  stats-text">Discover the Joy of Cooking</h2>
            <p class="thq-body-large  stats-text">Find recipes for every occasion and skill level</p>
            <div class=" stats-row thq-grid-2">
              <div class=" stats-cell">
                <h2 class="thq-heading-2  stats-text">Over 1000 recipes available</h2>
                <span class="thq-body-small  stats-text">Extensive collection of mouth-watering recipes</span>
              </div>
              <div class=" stats-cell">
                <h2 class="thq-heading-2  stats-text">Step-by-step cooking instructions</h2>
                <span class="thq-body-small  stats-text">Easy-to-follow recipes with step-by-step instructions</span>
              </div>
            </div>
            <div class=" stats-row thq-grid-2">
              <div class=" stats-cell">
                <h2 class="thq-heading-2  stats-text">97% user satisfaction rate<</h2>
                <span class="thq-body-small  stats-text">Positive feedback from satisfied users</span>
              </div>
              <div class=" stats-cell">
                <h2 class="thq-heading-2  stats-text">300+ cooking tips shared</h2>
                <span class="thq-body-small  stats-text">Expert advice to enhance your culinary skills</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="../../../teleport-custom-scripts.js"
    ></script>
  </body>
</html>
