.sign-up-buttons-container {
  height: 161px;
}

.sign-up-max-width {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.image-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.sign-up-form {
  width: 50%;
  padding: 2em;
}

.sign-up-form .flex-column, .sign-up-form .flex-row {
  gap: 1em;
  width: 100%;
  align-items: flex-start;
}

.sign-up-form .flex-row {
  justify-content: space-between;
}

.sign-up-hide-password {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}

.sign-up-hide-icon {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}

.divider {
  width: 316px;
  height: 38px;
}
 
@media(max-width: 991px) {
  .image-container {
    width: 100%;
    height: var(--dl-size-size-xxlarge);
  }
}
 
@media(max-width: 479px) {
  .sign-up-button {
    width: 100%;
  }
}
