.slider-container {
  width: 100%;
  aspect-ratio: 4 / 3;
}

@media (max-width: 1600px) {
  .slider-container {
    width: 700px;
  }
}
@media (max-width: 800px) {
  .slider-container {
    width: 100%;
  }
}