.slider_my_recipes-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.slider_my_recipes-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.slider_my_recipes-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.slider_my_recipes-text1 {
  text-align: center;
}
 
.slider_my_recipes-text2 {
  text-align: center;
}
 
.slider_my_recipes-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.slider_my_recipes-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.slider_my_recipes-slider {
  width: 100%;
  height: 770px;
  display: inline-block;
}
 
.slider_my_recipes-slider-slide1 {
  height: calc(100% - 20px);
  display: flex;
}
 
.slider_my_recipes-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.slider_my_recipes-slider-slide2 {
  height: calc(100% - 20px);
  display: flex;
}
 
.slider_my_recipes-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.slider_my_recipes-slider-slide3 {
  height: calc(100% - 20px);
  display: flex;
}
 
.slider_my_recipes-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.slider_my_recipes-slider-pagination {
  display: block;
}
 
.slider_my_recipes-fragment1 {
  display: contents;
}
 
.slider_my_recipes-text3 {
  display: inline-block;
}
 
.slider_my_recipes-fragment2 {
  display: contents;
}
 
.slider_my_recipes-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .slider_my_recipes-content {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .slider_my_recipes-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .slider_my_recipes-slider {
    height: 550px;
  }
}
 
@media(max-width: 479px) {
  .slider_my_recipes-slider {
    height: 440px;
  }
}
