.team-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.team-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-content10 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-content11 {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-content12 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.team-row1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team-card {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team-placeholder-image1 {
  width: 80px;
  height: 80px;
}
 
.team-content13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-member-name {
  font-style: normal;
  font-weight: 600;
}
 

 
.team-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 

 
.team-placeholder-image2 {
  width: 80px;
  height: 80px;
}
 
.team-content14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 

 
.team-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 

 
.team-placeholder-image3 {
  width: 80px;
  height: 80px;
}
 
.team-content15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 

 
.team-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 

 
.team-placeholder-image4 {
  width: 80px;
  height: 80px;
}
 
.team-content16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.team-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team-row2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team-container3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 

 
.team-placeholder-image5 {
  width: 80px;
  height: 80px;
}
 
.team-content17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-title5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
 
.team-social-icons5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 

 
.team-placeholder-image6 {
  width: 80px;
  height: 80px;
}
 
.team-content18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-title6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
 
.team-social-icons6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team-container4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 

 
.team-placeholder-image7 {
  width: 80px;
  height: 80px;
}
 
.team-content19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-title7 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
 
.team-social-icons7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 

 
.team-placeholder-image8 {
  width: 80px;
  height: 80px;
}
 
.team-content20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team-title8 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
 
.team-social-icons8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team-content21 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
 
@media(max-width: 991px) {
  .team-content11 {
    gap: var(--dl-space-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .team-row1 {
    align-items: center;
    flex-direction: column;
  }
  .team-row2 {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .team-container1 {
    flex-direction: column;
  }
  .team-container2 {
    flex-direction: column;
  }
  .team-container3 {
    flex-direction: column;
  }
  .team-container4 {
    flex-direction: column;
  }
}
