<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mockups Iniciales PWM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <link rel="stylesheet" href="../../../stylesheets/reset-style-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/default-style-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/animate-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/noto-sans-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/STIX-two-text-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/Inter-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/style.css" />
  <link href="team.css" rel="stylesheet" />
  <script src="../../../xlu-include-file.js"></script>
  <script src="./team.js"></script>
</head>
<body>
<div>
  <div class="thq-section-padding">
    <div class="team-max-width thq-section-max-width">
      <div class="team-section-title">
        <span id="section-subheading" class="thq-body-small"></span>
        <div class="team-content10">
          <h2 id="section-heading" class="thq-heading-2"></h2>
          <p id="section-description" class="thq-body-large"></p>
        </div>
      </div>
      <div class="team-content11">
        <div class="team-content12">
          <div class="thq-grid-4"></div>
        </div>
      </div>
    </div>
    <div style="height: 70px;"></div>
    <div class="team-content21"></div>
  </div>
</div>
</body>
<script>
  loadTeamPage(getProjectRoot() + "JSON/team.json");
</script>
</html>
