<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mockups Iniciales PWM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" data-tag="reset-style-sheet" href="../../../stylesheets/reset-style-sheet.css"  />
    <link rel="stylesheet" data-tag="default-style-sheet" href="../../../stylesheets/default-style-sheet.css" />>
    <link rel="stylesheet" href="../../../stylesheets/animate-sheet.css"/>
    <link rel="stylesheet" href="../../../stylesheets/noto-sans-font.css" data-tag="font"/>
    <link rel="stylesheet" href="../../../stylesheets/STIX-two-text-font.css" data-tag="font"/>
    <link rel="stylesheet" href="../../../stylesheets/Inter-font.css" data-tag="font"/>
    <link rel="stylesheet" href="../../../stylesheets/style.css" />
  </head>
  <body>
    <div>
      <link href="welcome_about_us.css" rel="stylesheet" />
      <div class="welcome-about-us-header thq-section-padding">
        <div class="welcome-about-us-max-width thq-flex-column thq-section-max-width">
          <div class="welcome-about-us-column">
            <div class="welcome-about-us-content">
              <h1 class="welcome-about-us-text thq-heading-1 welcome-about-us-text">
                Welcome to our culinary paradise
              </h1>
              <p class="welcome-about-us-text thq-body-large welcome-about-us-text">
                Explore a world of flavors and recipes
              </p>
              <div class="welcome-about-us-actions">
                <button class="thq-button-filled welcome-about-us-button">
                  <a href="#" id="link-recipes" class="button-link">Discover recipes</a>
                </button>

                <button class="welcome-about-us-button thq-button-outline">
                  <a href="#" id="link-my-recipes" class="button-link">Modify your recipes</a>
                </button>
              </div>
            </div>
          </div>
          <img
            alt="Delicious food spread on a table"
            src="https://images.unsplash.com/photo-1720934394462-198a1f0acd57?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczODY4OTMwN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
            class="thq-img-ratio-16-9"
          />
        </div>
      </div>
    </div>
    <script
      defer=""
      src="../../../teleport-custom-scripts.js"
    ></script>
  </body>
</html>
