<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mockups Iniciales PWM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <link rel="stylesheet" data-tag="reset-style-sheet" href="../../../stylesheets/reset-style-sheet.css" />
  <link rel="stylesheet" data-tag="default-style-sheet" href="../../../stylesheets/default-style-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/animate-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/noto-sans-font.css" data-tag="font" />
  <link rel="stylesheet" href="../../../stylesheets/STIX-two-text-font.css" data-tag="font" />
  <link rel="stylesheet" href="../../../stylesheets/Inter-font.css" data-tag="font" />
  <link rel="stylesheet" href="../../../stylesheets/style.css" />
  <link href="./welcome_about_us.css" rel="stylesheet" />
  <script src="../../../xlu-include-file.js"></script>
</head>
<body>
<div id="welcome_about_us">
  <div class="welcome-about-us-header26 thq-section-padding">
    <div class="welcome-about-us-max-width thq-flex-column thq-section-max-width">
      <div class="welcome-about-us-column">
        <div class="welcome-about-us-content">
          <h1 class="welcome-about-us-text thq-heading-1 welcome-about-us-text" data-field="title"></h1>
          <p class="welcome-about-us-text thq-body-large welcome-about-us-text" data-field="text"></p>
          <div class="welcome-about-us-actions">
            <button class="thq-button-filled welcome-about-us-button">
              <a href="#" id="link-recipes" class="button-link">Discover recipes</a>
            </button>

            <button class="welcome-about-us-button thq-button-outline">
              <a href="#" id="link-my-recipes" class="button-link">Modify your recipes</a>
            </button>
          </div>
        </div>
      </div>
      <img
              alt="Delicious food spread on a table"
              src="https://cdn.create.vista.com/api/media/medium/548993082/stock-photo-waitress-holding-plate-canapes-catering-service-wedding-welcome-food?token="
              class="thq-img-ratio-16-9"
              data-field="image"
      />
    </div>
  </div>
</div>
</body>
</html>
