.welcome-about-us-header {
  gap: var(--dl-space-space-twounits);
}
 
.welcome-about-us-max-width {
  align-self: center;
}
 
.welcome-about-us-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.welcome-about-us-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.welcome-about-us-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.welcome-about-us-button {
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

 
.welcome-about-us-text {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .welcome-about-us-actions {
    width: 100%;
    flex-direction: column;
  }
  .welcome-about-us-button {
    width: 100%;
  }
}
