<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Rating</title>
    <link rel="stylesheet" href="starRating.css"> <!-- Importar estilos -->
</head>
<body>

    <star-rating-wrapper
            class="star-rating-wrapper"
            rootclassname="star-ratingundefined"
    >
        <!--StarRating component-->
        <div class="rectangle">
            <div
                    class="star-rating-container1 star-ratingroot-class-name"
            >
                <div class="star-rating-container2">
                    <div class="star-rating-container3">
                        <div class="star-rating">
                            <span class="star" data-value="1">★</span>
                            <span class="star" data-value="2">★</span>
                            <span class="star" data-value="3">★</span>
                            <span class="star" data-value="4">★</span>
                            <span class="star" data-value="5">★</span>
                        </div>

                    </div>
                </div>
                <script src="starRating.js"></script> <!-- Importar script -->
            </div>
        </div>
    </star-rating-wrapper>

</body>
</html>
<!-- <iframe src="starRating.html" width="100%" height="100" frameborder="0"></iframe> -->