<div>
  <link href="marketing.css" rel="stylesheet" />
  <div class="marketing-layout">
    <div class="marketing-max-width">
      <div class="marketing-section-title">
        <div class="marketing-column">
              <span id="marketing-subheading" class="text-body-small ">
                Where Flavor Meets Simplicity
              </span>
          <span id="marketing-title" class="heading-2">Features</span>
        </div>
        <span id="marketing-description" class="text-body-small ">
              Explore the key features of our website that make cooking and
              recipe exploration a delightful experience.
            </span>
        </div>
        <div id="marketing-features" class="marketing-row flex-row">
            <template>
                <div class="marketing-feature flex-column">
                    <img alt="" src=""
                         class="img-ratio-4-3 marketing-feature-image"/>
                    <div class="flex-column">
                        <h3 class="heading-3"></h3>
                        <span class="text-body-small"></span>
                    </div>
                </div>
            </template>
            <!--
             <div class="marketing-feature flex-column">
                <img
                        alt="Delicious Recipes Image"
                        src="https://images.unsplash.com/photo-1651802556259-aa8f0d062c9c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczODY4OTMwN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                        class="img-ratio-4-3 marketing-feature-image"
                />
                <div class=" flex-column">
                    <h3 class="heading-3 ">
                        Wide Variety of Delicious Recipes
                    </h3>
                    <span class="text-body-small ">
                    Browse through a diverse collection of mouth-watering
                    recipes from different cuisines, skill levels, and
                    dietary preferences.
                  </span>
                </div>
            </div>
            <div class="marketing-feature flex-column">
                <img
                        alt="Cooking Tips Image"
                        src="https://images.unsplash.com/photo-1482930172332-2293d7138235?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczODY4OTMwN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                        class="img-ratio-4-3 marketing-feature-image"
                />
                <div class=" flex-column">
                    <h3 class="heading-3 ">
                        Cooking Tips and Tricks
                    </h3>
                    <span class="text-body-small ">
                    Enhance your culinary skills with our expert cooking
                    tips, techniques, and hacks to level up your dishes.
                  </span>
                </div>
            </div>
            <div class="marketing-feature flex-column">
                <img
                        alt="Ingredient Substitution Image"
                        src="https://images.unsplash.com/photo-1586197138382-e1d1479fbb14?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczODY4OTMwN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                        class="img-ratio-4-3 marketing-feature-image"
                />
                <div class=" flex-column">
                    <h3 class="heading-3 ">
                        Ingredient Substitution Advice
                    </h3>
                    <span class="text-body-small ">
                    Learn how to substitute ingredients in your recipes
                    without compromising on taste or quality, making cooking
                    hassle-free.
                  </span>
                </div>
            </div>
             -->
        </div>
      <div class="marketing-actions">
        <button class="button-background-filled-reverse">
              <span class="text-body-small">
                  <a href="#" id="link-recipes" class="button-link">Look up recipes</a>
              </span>
        </button>
      </div>
    </div>
  </div>
</div>
<script src="/about_us/components/marketing/marketing.js"></script>