<div class="marketing-layout">
    <div class="marketing-max-width">
        <div class="marketing-section-title">
            <div class="marketing-column">
                <span id="marketing-subheading" class="text-body-small "></span>
                <span id="marketing-title" class="heading-2"></span>
            </div>
            <span id="marketing-description" class="text-body-small "></span>
        </div>
        <div id="marketing-features" class="marketing-row flex-row">
            <template>
                <div class="marketing-feature flex-column">
                    <img alt="" src=""
                         class="img-ratio-4-3 marketing-feature-image"/>
                    <div class="flex-column">
                        <h3 class="heading-3"></h3>
                        <span class="text-body-small"></span>
                    </div>
                </div>
            </template>
        </div>
        <div class="marketing-actions">
            <button class="button-background-filled-reverse">
              <span class="text-body-small">
                  <a href="#" id="link-recipes" class="button-link">Look up recipes</a>
              </span>
            </button>
        </div>
    </div>
</div>
<script src="/about_us/components/marketing/marketing.js"></script>
<link href="/about_us/components/marketing/marketing.css" rel="stylesheet">