.marketing-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.marketing-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.marketing-column {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
 
.marketing-content1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.marketing-row {
  align-items: flex-start;
}
 
.marketing-feature1 {
  flex: 1;
}
 
.marketing-content2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.marketing-feature2 {
  flex: 1;
}
 
.marketing-content3 {
  align-self: stretch;
  align-items: flex-start;
}
 
.marketing-feature3 {
  flex: 1;
}
 
.marketing-content4 {
  align-self: stretch;
  align-items: flex-start;
}
 
.marketing-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.marketing-button {
  color: #bf4408;
  background-color: transparent;
}
 
.marketing-fragment10 {
  display: contents;
}
 
.marketing-text13 {
  display: inline-block;
}
 
.marketing-fragment11 {
  display: contents;
}
 
.marketing-text14 {
  display: inline-block;
}
 
.marketing-fragment12 {
  display: contents;
}
 
.marketing-text15 {
  display: inline-block;
}
 
.marketing-fragment13 {
  display: contents;
}
 
.marketing-text16 {
  display: inline-block;
}
 
.marketing-fragment14 {
  display: contents;
}
 
.marketing-text17 {
  display: inline-block;
}
 
.marketing-fragment15 {
  display: contents;
}
 
.marketing-text18 {
  display: inline-block;
}
 
.marketing-fragment16 {
  display: contents;
}
 
.marketing-text19 {
  display: inline-block;
}
 
.marketing-fragment17 {
  display: contents;
}
 
.marketing-text20 {
  display: inline-block;
}
 
.marketing-fragment18 {
  display: contents;
}
 
.marketing-text21 {
  display: inline-block;
}
 
.marketing-fragment19 {
  display: contents;
}
 
.marketing-text22 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .marketing-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .marketing-feature1-image {
    height: 260px;
  }
  .marketing-feature2-image {
    height: 260px;
  }
  .marketing-feature3-image {
    height: 260px;
  }
}
 
@media(max-width: 767px) {
  .marketing-column {
    width: 100%;
  }
  .marketing-text11 {
    text-align: center;
  }
  .marketing-row {
    flex-direction: column;
  }
  .marketing-feature1-image {
    width: 100%;
  }
  .marketing-feature2 {
    width: auto;
  }
  .marketing-feature2-image {
    width: 100%;
  }
  .marketing-feature3 {
    width: auto;
  }
  .marketing-actions {
    flex-wrap: wrap;
  }
}
 
@media(max-width: 479px) {
  .marketing-actions {
    width: 100%;
    flex-direction: column;
  }
  .marketing-button {
    width: 100%;
  }
}
