<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mockups Iniciales PWM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <link rel="stylesheet" href="../../../stylesheets/reset-style-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/default-style-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/animate-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/noto-sans-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/STIX-two-text-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/Inter-font.css" />
  <link rel="stylesheet" href="../../../stylesheets/style.css" />
  <link href="marketing.css" rel="stylesheet" />
  <script src="../../../xlu-include-file.js"></script>
  <script src="./marketing.js"></script>
</head>
<body>
<div>
  <div class="marketing-layout thq-section-padding">
    <div class="marketing-max-width thq-section-max-width">
      <div class="thq-flex-row marketing-section-title">
        <div class="marketing-column thq-flex-column">
          <span id="marketing-subheading" class="thq-body-small marketing-text"></span>
          <h2 id="marketing-title" class="thq-heading-2 marketing-text"></h2>
        </div>
        <span id="marketing-description" class="thq-body-small marketing-text"></span>
      </div>
      <div class="marketing-content">
        <div class="marketing-row thq-flex-row"></div>
      </div>
      <div class="marketing-actions">
        <a id="marketing-button" class="marketing-button thq-button-filled"></a>
      </div>
    </div>
  </div>
</div>
<script src="marketing.js" defer></script>
</body>
<script>
  loadMarketingPage(getProjectRoot() + "JSON/marketing.json");
</script>
</html>
