.hero13-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero13-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero13-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero13-text1 {
  text-align: center;
}
 
.hero13-text2 {
  text-align: center;
}
 
.hero13-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
 
.hero13-fragment1 {
  display: contents;
}
 
.hero13-text5 {
  display: inline-block;
}
 
.hero13-fragment2 {
  display: contents;
}
 
.hero13-text6 {
  display: inline-block;
}
 
.hero13-fragment3 {
  display: contents;
}
 
.hero13-text7 {
  display: inline-block;
}
 
.hero13-fragment4 {
  display: contents;
}
 
.hero13-text8 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .hero13-header78 {
    padding: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .hero13-header78 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .hero13-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero13-button1 {
    width: 100%;
  }
  .hero13-button2 {
    width: 100%;
  }
}
