<div class="ingredients-layout section-padding">
  <div class="ingredients-max-width section-max-width">
    <div class="ingredients-container1">
      <span class="heading-1 ingredients-text-inline"></span>
      <span class="ingredients-text text-body-large ingredients-text-inline"></span>
    </div>
    <div class="ingredients-grid">
        <template>
            <div class="ingredients-card flex-column card-layout">
                <img alt="" src="" class="ingredients-image img-round img-ratio-1-1"/>
                <span class="heading-2 ingredients-text-inline"></span>
                <span class="ingredients-text text-body-small ingredients-text-inline"></span>
            </div>
        </template>
    </div>
  </div>
</div>
<a rel="json" href="/recipes/recipes.json"></a>
<script src="/recipes/components/popular-ingredients/ingredients.js"></script>