<div class="ingredients-layout thq-section-padding">
    <div class="ingredients-max-width thq-section-max-width">
        <div class="ingredients-container1">
            <h2 id="ingredients-title" class="thq-heading-2 ingredients-text-inline"></h2>
            <span id="ingredients-description" class="ingredients-text thq-body-small ingredients-text-inline"></span>
        </div>
        <div class="ingredients-container2 thq-grid-auto-300"></div>
    </div>
</div>
<script>
    loadIngredientsPage(getProjectRoot() + "JSON/popular-ingredients.json");
</script>
