.ingredients-wrapper {
  display: contents;
}

.ingredients-layout {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.ingredients-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.ingredients-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
 
.ingredients-text {
  text-align: center;
}
 
.ingredients-container2 {
  width: 100%;
}


.ingredients-container-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.ingredients-card {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  flex: 1;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.ingredients-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}

 
.ingredients-fragment {
  display: contents;
}
 
.ingredients-text-inline {
  display: inline-block;
}
 

@media(max-width: 991px) {
  .ingredients-max-width {
    flex-direction: column;
  }
  .ingredients-container1 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .ingredients-container1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .ingredients-card {
    width: 100%;
  }
}
