<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="my_recipe_description.css">
</head>
<body>
<div class="section-padding">
    <div class="recipe-container flex-column section-max-width">
        <header>
            <h1 id="recipe-name" class="heading-2">Nombre de la receta</h1>
            <p id="recipe-description" class="text-body-small"></p>
        </header>
        <section class="recipe-container section-max-width">
            <h2 class="heading-2">Ingredientes</h2>
            <ul id="recipe-ingredients" class="my_recipe_description-ul flex-column">
                <!-- Ingredientes cargados dinámicamente -->
            </ul>
        </section>
        <section class="recipe-container section-max-width">
            <h2 class="heading-2">Pasos</h2>
            <ul id="recipe-steps" class="my_recipe_description-ul flex-column">
                <!-- Pasos cargados dinámicamente -->
            </ul>
        </section>
        <div class="my_recipe_description-buttons-container flex-row section-max-width">
            <button class="button-background-filled">Get Cooking Now!</button>
            <button class="button-background-filled-reverse">Privacy statement</button>
            <button class="button-background-filled-reverse">Refund Policy</button>
        </div>
    </div>
</div>
<script src="/my_recipes/components/my_recipe_description/my_recipe_description.js" defer ></script>
</body>
</html>
