<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mockups Iniciales PWM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <link rel="stylesheet" data-tag="reset-style-sheet" href="../../../stylesheets/reset-style-sheet.css" />
  <link rel="stylesheet" data-tag="default-style-sheet" href="../../../stylesheets/default-style-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/animate-sheet.css" />
  <link rel="stylesheet" href="../../../stylesheets/noto-sans-font.css" data-tag="font" />
  <link rel="stylesheet" href="../../../stylesheets/STIX-two-text-font.css" data-tag="font" />
  <link rel="stylesheet" href="../../../stylesheets/Inter-font.css" data-tag="font" />
  <link rel="stylesheet" href="../../../stylesheets/style.css" />
  <link href="my_recipe_description.css" rel="stylesheet" />
  <script src="./my_recipe_description.js" defer></script>
</head>
<body>
<div>
  <div class="my_recipe_description-container1 thq-section-padding">
    <div class="my_recipe_description-max-width thq-flex-column thq-section-max-width">

      <!-- Contenedor para los botones -->
      <div id="buttons-container" class="my_recipe_description-container2 thq-flex-row thq-section-max-width">
        <!-- Los botones se insertarán aquí dinámicamente -->
      </div>

      <!-- Contenedor para las secciones -->
      <div id="sections-container" class="my_recipe_description-container3 thq-flex-column">
        <!-- Las secciones de contenido se insertarán aquí dinámicamente -->
      </div>

    </div>
  </div>
</div>

<script>
  addDynamicContent()
</script>

</body>
</html>