<div class="welcome-browser-header section-padding">
    <img alt="" src="" class="welcome-browser-image"/>
    <div class="welcome-browser-container"><!-- background --></div>
    <div class="welcome-browser-max-width section-max-width"> <!-- actual content-->
        <div class="welcome-browser-content">
            <span class="welcome-browser-text heading-1 welcome-browser-text-inline"></span>
            <p class="welcome-browser-text text-body-large welcome-browser-text-inline"></p>
            <div class="welcome-browser-actions">
                <button class="button-background-filled welcome-browser-button">
                    <span class="welcome-browser-text text-body-small welcome-browser-text-inline">Browse Recipes</span>
                </button>
                <button class="button-background-filled-reverse welcome-browser-button">
                    <span class="welcome-browser-text text-body-small welcome-browser-text-inline">Get Cooking</span>
                </button>
            </div>
        </div>
    </div>
</div>
<a rel="json" href="/recipes/recipes.json" style="display: none !important;"></a>
<script src="/recipes/components/welcome-browser/welcome.js"></script>