<div class="our-recipes-gallery section-padding">
  <div class="our-recipes-gallery-max-width">
    <div class="our-recipes-gallery-section-title">
      <span class="our-recipes-gallery-text heading-2 our-recipes-gallery-text-inline"></span>
      <span class="our-recipes-gallery-text text-body-large our-recipes-gallery-text-inline"></span>
    </div>
    <div class="our-recipes-gallery-container">
      <div class="our-recipes-gallery-content">
        <template id="side-column">
          <div class="our-recipes-gallery-container-column">
            <img
                    alt=""
                    src=""
                    class="our-recipes-gallery-image-large img-ratio-1-1"
            />
            <img
                    alt=""
                    src=""
                    class="our-recipes-gallery-image-large img-ratio-1-1"
            />
          </div>
        </template>
        <template id="middle-column">
          <div class="our-recipes-gallery-container-column">
            <img
                    alt=""
                    src=""
                    class="our-recipes-gallery-image-short img-ratio-4-3"
            />
            <img
                    alt=""
                    src=""
                    class="our-recipes-gallery-image-large img-ratio-1-1"
            />
            <img
                    alt=""
                    src=""
                    class="our-recipes-gallery-image-short img-ratio-4-3"
            />
          </div>
        </template>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/recipes/components/our-recipes-gallery/our-recipes-gallery.css"/>
<a rel="json" href="/recipes/recipes.json"></a>
<script src="/recipes/components/our-recipes-gallery/gallery.js"></script>