<div class="keep-cocking-container ">
    <div class="keep-cocking-column section-padding section-max-width">
        <div class="keep-cocking-header">
            <span class=" heading-1 keep-cocking-text"></span>
            <p class=" text-body-large keep-cocking-text"></p>
        </div>
        <div class="keep-cocking-actions">
            <button class="button-background-filled keep-cocking-button">
                <span class="text-body-small keep-cocking-text">Main action</span>
            </button>
            <button class="button-background-filled-reverse keep-cocking-button">
          <span class="text-body-small keep-cocking-text">
          Secondary action
          </span>
            </button>
        </div>
    </div>
    <div class="keep-cocking-gallery">
        <template>
            <img alt="" src="" class="keep-cocking-placeholder-image  img-scale"/>
        </template>
        <div class="carousel-container-horizontal">
            <div class="carousel-horizontal"></div>
        </div>
        <div class="carousel-container-horizontal">
            <div class="carousel-horizontal carousel-horizontal-reverse"></div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/recipes/components/carousel/carousel.css"/>
<a rel="json" href="/recipes/recipe-page.json"></a>
<script src="/recipes/components/carousel/carousel.js"></script>