<div class="section-padding">
  <div id="welcome-container" class="flex-column section-max-width">
    <div class="flex-column">
      <span class=" heading-1 "></span>
      <p class=" text-body-large "></p>
      <div class="welcome-about-us-actions">
        <button class="button-background-filled welcome-about-us-button">
          <a rel="internal" href="/recipes/recipes.html" id="link-recipes" class="button-link">Discover recipes</a>
        </button>
        <button class="welcome-about-us-button button-background-filled-reverse">
          <a rel="internal" href="/my_recipes/my_recipes.html" id="link-my-recipes" class="button-link">View your recipes</a>
        </button>
      </div>
    </div>
    <img
            alt="Delicious food spread on a table"
            src=""
            class="img-ratio-16-9"
    />
  </div>
  <a rel="json" href="/about_us/components/welcome-about-us/welcome-about-us.json" style="display: none !important;"></a>
</div>
<link rel="stylesheet" type="text/css" href="/about_us/components/welcome-about-us/welcome-about-us.css"/>
<script src="/about_us/components/welcome-about-us/welcome-about-us.js"></script>