.index_slider-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.index_slider-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.index_slider-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.index_slider-text1 {
  text-align: center;
}
 
.index_slider-text2 {
  text-align: center;
}
 
.index_slider-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.index_slider-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.index_slider-slider {
  width: 100%;
  height: 600px;
  display: inline-block;
}
 
.index_slider-slider-wrapper {
  width: 100%;
}
 
.index_slider-slider-slide1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
 
.index_slider-container2 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index_slider-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.index_slider-container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index_slider-image2 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.index_slider-slider-slide2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
 
.index_slider-container4 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index_slider-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.index_slider-container5 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index_slider-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.index_slider-slider-slide3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
 
.index_slider-container6 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index_slider-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.index_slider-container7 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index_slider-image6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.index_slider-slider-pagination {
  display: block;
}
 
.index_slider-fragment1 {
  display: contents;
}
 
.index_slider-text3 {
  display: inline-block;
}
 
.index_slider-fragment2 {
  display: contents;
}
 
.index_slider-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .index_slider-content {
    align-items: center;
    flex-direction: column;
  }
  .index_slider-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
 
@media(max-width: 767px) {
  .index_slider-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .index_slider-slider-slide1 {
    flex-direction: column;
  }
  .index_slider-container2 {
    height: calc(50% - 8px);
  }
  .index_slider-container3 {
    height: calc(50% - 8px);
  }
  .index_slider-slider-slide2 {
    flex-direction: column;
  }
  .index_slider-container4 {
    height: calc(50% - 8px);
  }
  .index_slider-container5 {
    height: calc(50% - 8px);
  }
  .index_slider-slider-slide3 {
    flex-direction: column;
  }
  .index_slider-container6 {
    height: calc(50% - 8px);
  }
  .index_slider-container7 {
    height: calc(50% - 8px);
  }
}
 
@media(max-width: 479px) {
  .index_slider-slider {
    height: 440px;
  }
}
