.index_slider-gallery {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.index_slider-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.index_slider-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.index_slider-text {
  text-align: center;
}
 
.index_slider-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.index_slider-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.index_slider-slider {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.swiper-wrapper {
  align-items: center;
}

.recipes-testimonials-slide{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.recipes-testimonials-slide-container {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.index_slider-slider-slide1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
 
.index_slider-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index_slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.index_slider-slider-pagination {
  display: block;
}
 

 
@media(max-width: 991px) {
  .index_slider-content {
    align-items: center;
    flex-direction: column;
  }
  .index_slider-image {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
 
@media(max-width: 767px) {
  .index_slider-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .index_slider-slider-slide {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .index_slider-slider {
    height: 440px;
  }
}
