# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../angular/dist
../angular/tmp
../angular/out-tsc
../angular/bazel-out
../angular/node_modules
../angular/npm-debug.log
../angular/yarn-error.log